<nav class="navbar navbar-expand-lg  sticky-top" id="navbar-header">
    <div class="container-fluid px-3 py-4 justify-content-center align-item-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center align-item-center caprasimo-regular" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link main-text cabin-condensed-regular" id="nav-home" href="#">Home</a>   
                </li>
                <li class="nav-item ">
                    <a class="nav-link main-text cabin-condensed-regular" id="nav-menu" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-text cabin-condensed-regular" id="nav-locations" href="#">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-text cabin-condensed-regular" id="nav-about" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>